In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib.parse
import psycopg2

from sqlalchemy import create_engine
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import mean_squared_error


password = urllib.parse.quote_plus("@Woodlandscollege7696")
engine = create_engine(F"postgresql+psycopg2://postgres:{password}@localhost/postgres")

def get_connection():
    return psycopg2.connect(
        host = "localhost",
        user = "postgres",
        password = "@Woodlandscollege7696",
        database = "postgres"
    )

In [7]:
engine_size = pd.read_csv(r"C:\Users\danie\OneDrive\Kaggle\Engine_size.csv")
ninth_row = engine_size.loc[[9]]
ninth_row.drop(columns = ["CO2_EMISSIONS"], inplace=True)
engine_size.drop(index = 9, inplace = True)
X = engine_size.drop(columns = ["CO2_EMISSIONS"])
Y = engine_size["CO2_EMISSIONS"]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
model = LinearRegression()

kf = KFold(n_splits=2, shuffle=True, random_state=42)
mse_per_fold = cross_val_score(model, X_train, Y_train, cv=kf, scoring="neg_mean_squared_error")
score = -mse_per_fold
score_average = score.mean()
RMSE = np.sqrt(score_average)
RMSE

array([-1.2444   , -0.2238292])

In [3]:
model.fit(X_train, Y_train)
predictions = model.predict(X_test)
print(X_test)
predictions

   ENGINE_SIZE  CYLINDERS  FUEL_CONSUMPTION_COMB
7          3.7          6                   11.1
1          2.4          4                    9.6

array([255.38452088, 221.66609337])

In [4]:
ninth_row_prediction = model.predict(ninth_row)
ninth_row_value = float(ninth_row_prediction[0])
ninth_row_value

212.48902538902536

In [5]:
engine_size1 = pd.read_csv(r"C:\Users\danie\OneDrive\Kaggle\Engine_size.csv")
engine_size1.to_sql("engine_size", con=engine, if_exists="replace", index = False)
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute(f"""
        UPDATE engine_size
        SET "CO2_EMISSIONS" = {ninth_row_value}
        WHERE "ENGINE_SIZE" = 2.4
            AND "CYLINDERS" = 4 AND "FUEL_CONSUMPTION_COMB" = 9.2
        """)

In [6]:
engine_size_updated = pd.read_sql_query("SELECT * FROM engine_size", con=engine)
engine_size_updated

   ENGINE_SIZE  CYLINDERS  FUEL_CONSUMPTION_COMB  CO2_EMISSIONS
0          2.0          4                    8.5     196.000000
1          2.4          4                    9.6     221.000000
2          1.5          4                    5.9     136.000000
3          3.5          6                   11.1     255.000000
4          3.5          6                   10.6     244.000000
5          3.5          6                   10.0     230.000000
6          3.5          6                   10.1     232.000000
7          3.7          6                   11.1     255.000000
8          3.7          6                   11.6     267.000000
9          2.4          4                    9.2     212.489025

In [23]:
with get_connection() as connection:
    with connection.cursor() as cursor:
        cursor.execute("""
        CREATE TABLE testing(
        WIFI varchar(3));

        INSERT INTO testing
        VALUES ('yes'), ('no'), ('no'), ('yes'), ('yes'), ('yes'), ('no'), ('yes')
        """)

In [36]:
Wifi = pd.read_sql_query("SELECT * FROM testing", con=engine)
wifi_updated = Wifi["wifi"].map({'yes': 1, 'no': 0})
wifi_updated

0    1
1    0
2    0
3    1
4    1
5    1
6    0
7    1
Name: wifi, dtype: int64

In [37]:
Wifi

  wifi
0  yes
1   no
2   no
3  yes
4  yes
5  yes
6   no
7  yes